## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.txt
*.stackdump
*.inc

## 			C++ Files

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#netbeans ignore personal stuff
build/
dist/
nbproject/